.searchContainer {
  margin: 2rem 0rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input[type=text] {
  width: auto;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('./search-solid.svg');
  background-size: 20px;
  padding-top: 12px; 
  background-position: 0.5rem 0.5rem; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;

}


